* {
  font-family: "Roboto", sans-serif;
}

.search:focus {
  outline: none;
}

.carouselStyles {
  width: 100%;
  height: 100vmin;
  text-align: center;
}

.CarouselImage {
  width: 100%;
  height: 100vmin;
  object-fit: contain;
}

.product-hover {
  cursor: pointer;
}

.product-hover:hover {
  box-shadow: 5px 5px 5px 2px gray;
  transform: translateY(10%);
  transition: all 0.5s;
}

.product-category-hover {
  cursor: pointer;
}

.product-category-hover:hover {
  box-shadow: 5px 5px 5px 2px gray;
  transform: translateY(2%);
  transition: all 0.5s;
}

.search-product:hover {
  box-shadow: 5px 5px 5px 2px gray;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid rgb(12, 12, 12);
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

.batch {
  position: relative;
  top: -15px;
  right: 10px;
  color: rgb(9, 8, 8);
  text-decoration: none;
  background-color: rgb(170, 170, 211);
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 50%;
  font-weight: 700;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
